Canvas {
    width: 100vw;
    height: 100vh;
}

.overlay-circle-shape {
    position: absolute;
    z-index: 3;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15%;
    height: 10rem;
}

.overlay-circle {
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    width: 8rem;
    aspect-ratio: 1 / 1;
    background-color: #ffd260;
    padding: 1rem;
    border: .15rem solid #ffd260;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    h2 {
        font-size: .9rem;
        max-width: 4rem;
        font-weight: 400;
        transition: .2s ease-in-out;
        color: black;
    }

    &:hover {
        padding: 1.2rem;
        width: 8.4rem;
        border: .2rem solid #ffd260;
    }
    &:active {
        background-color: #ffc760;
        padding: 1rem;
        width: 8rem;
        border: .15rem solid #ffc760;
    }
    
    &.dragging {
        transition: .5s ease-in-out;
        opacity: .5;
        padding: .7rem;
        width: 7rem;
    }
    &.intro {
        display: none;
    }
}