// ---------- OVERLAY INTRO -----------
.overlay-intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 1, 50, 0.592);
    z-index: 5;
    opacity: 1;
}

.intro-content {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;

    .forms {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        .form {
            width: 2rem;
            background-color: white;
            height: 2rem;
            border-radius: 50%;

        }

        .form1 {
            opacity: .4;
            margin-right: -.5rem;
            animation: pulsate 2s infinite;
            animation-delay: 1s;
        }

        .form2 {
            opacity: .6;
            margin-right: -.5rem;
            animation: pulsate 2s infinite;
            animation-delay: 1.25s;
        }

        .form3 {
            opacity: .8;
            margin-right: .5rem;
            animation: pulsate 2s infinite;
            animation-delay: 1.5s;
        }

        .form4 {
            opacity: .9;
            width: 3.5rem;
            border-radius: 1rem;
            animation: pulsate 2s infinite;
            animation-delay: 1.75s;
        }
    }

    @keyframes pulsate {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }

    h1 {
        font-size: 2.2rem;
        font-weight: 400;
        color: white;
        margin: 0;
        margin-bottom: 4rem;
    }

    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        transition: .3s ease;

        &:hover {
            color: white;
            border: .1rem solid white;
        }

        &:active {
            transform: scale(0.85);
        }
    }
}